nav {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgba(109, 121, 147, 0);
    display: flex;
    align-items: center;
    padding: 0 10%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    overflow: hidden;

    .left {
        width: 80%;

        img {
            width: 20px;
            height: 20px;
            vertical-align: text-bottom;
            margin-right: 25px;
            transform: translateY(-60px);
            filter: drop-shadow(white 0 60px)
        }

        a {
            vertical-align: middle;
        }

        .nav_search {
            display: inline-flex;
            border-radius: 5px;

            input {
                width: 0;
                height: 30px;
                color: #777;
                border: none;
                outline: none;
                padding: 0;
                transition: all 0.3s;
                background-color: rgba(white, 0.5);
            }

            button {
                color: white;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: #ff8c31;
                }
            }

        }
        .nav_search.show_input {
            input {
                width: 120px;
                padding: 0 10px;
                border-radius: 5px 0 0 5px;
            }

            button {
                color: #333;
                border-radius: 0 5px 5px 0;
                background-color: rgba(white, 0.5);
            }
        }
    }

    .right {
        width: 20%;
        display: flex;
        justify-content: right;

        i {
            color: white;
            font-size: 18px;
            margin-right: 20px;
            
            &:hover {
                color: #ff8c31;
            }
        }

        .el-dropdown-link {
            color: white;
        }
    }

    a {
        margin-right: 20px;
        color: white;
        transition: 0.3s;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #ff8c31;
        }
    }
}

nav.show {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;

    a {
        color: #333;
        transition: 0.3s;

        &:hover {
            color: #409eff;
        }
    }

    .el-dropdown-link {
        color: #333;
    }

    i {
        color: #333;
    }

    img {
        transform: translateY(0);
    }

    .nav_search {
        button {
            color: #333;
        }
    }

    .nav_search.show_input {
        border: 1px solid #f0f3f8;
    }
}

header {
    width: 100%;
    height: 400px;
    position: relative;
    transition: all 0.5s;

    .title {
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        h1 {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            text-align: center;
        }
    }

    >.dynamic_shuffle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 1s;
        opacity: 0;

        &:first-child {
            opacity: 1;
        }

        img {
            width: 100%;
        }
    }
}

main {
    width: 100%;
    padding: 20px 60px;
    box-sizing: border-box;
    min-height: calc(100vh - 150px);
    background-color: var(--main_bg);
    color: var(--main_color);
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: var(--footer_bg);
    color: var(--footer_color);
    box-shadow: 0 2px 12px 0 rgb(0, 0, 0, 0.2);

    p {
        font-size: 14px;
        margin: 5px 0px;
    }

    .left,
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thank {
        color: #409eff;
        font-size: 20px;
    }

    .site_info {
        display: flex;
        align-items: center;

        span {
            margin-right: 10px;
            display: flex;
            align-items: center;
        }

        img {
            width: 20px;
            margin-right: 5px;
        }
    }

    .version {
        display: flex;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #333;
            height: 30px;

            &:nth-child(1) {
                width: 100px;
                background-color: #409eff;
                border-radius: 5px 0 0 5px;
            }

            &:nth-child(2) {
                width: 70px;
                background-color: #ff8c31;
                border-radius: 0 5px 5px 0;
            }
        }
    }

    .contact {
        display: flex;
        width: 240px;
        justify-content: space-between;
        position: relative;

        .svg {
            position: relative;
            width: 24px;
            z-index: 1;
        }

        .QR {
            width: 80px;
            position: absolute;
            top: -50px;
            left: -28px;
            opacity: 0;
            transition: all 0.5s;
        }

        .tips {
            width: 100px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
            color: white;
            background-color: #409eff;
            border-radius: 5px;
            position: absolute;
            top: -10px;
            left: -34px;
            opacity: 0;
            transition: all 0.5s;                
        }

        .QQ {         
            position: relative;       
            .svg {
                &:hover {
                    & ~ .QR {
                        top: -80px;
                        left: -28px;
                        opacity: 1;
                    }
                }
            }
        }

        .Wechat {            
            position: relative;
            .svg {
                &:hover {
                    & ~ .QR {
                        top: -80px;
                        left: -28px;
                        opacity: 1;
                    }
                }
            }
        }

        .link {
            position: relative;
            .svg {
                &:hover {
                    & ~ .tips {
                        top: -35px;
                        left: -34px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.el-dropdown-menu a {
    color: #333;
}

.delete {
    color: red !important;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
        background-color: white;
    }
}