body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #409eff;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;  
}

ul {
    padding: 0;
    margin: 0;
}

.bolded {
    font-weight: 600;
}

.dark_gray {
    color: #333;
}

.middle_font {
    font-size: 13px;
}

.small_font {
    font-size: 12px;
}

.mini_font {
    font-size: 10px;
}

::-webkit-scrollbar {
    /* 隐藏滚动条，但依旧具备可以滚动的功能 */
    display: none
}