{% extends "backend/my_homepage.html" %}

{% block css %}
<link rel="stylesheet" href="/static/mine/css/css/add_article.css">
<link rel="stylesheet" href="/static/editor_md/css/editormd.css">
{% endblock css %}

{% block main %}
<div class="main">
    <div id="editor">
        <textarea style="display: none;"></textarea>
    </div>
    <el-card class="article_info">
        <div slot="header" class="clearfix">
            <span>文章信息</span>
            <el-button @click="add_article" style="float: right;" size="mini"
                type="success">发布文章</el-button>
        </div>
        <div class="cover">
            <el-image
                class="cover_img"
                id="cover_img"
                :src="'/article_img/article_img/' + info_form.cover_id + '.jpeg'"
                :preview-src-list="['/article_img/article_img/' + info_form.cover_id + '.jpeg']">
            </el-image>
            <p>点击查看大图</p>
        </div>
        <el-form :rules="rules" :inline="true" ref="base_info"
            :model="info_form" label-width="auto">
            <el-form-item label="标题" prop="title">
                <el-input v-model="info_form.title"></el-input>
            </el-form-item>
            <el-form-item label="作者" prop="author">
                <el-input v-model="info_form.author"></el-input>
            </el-form-item>
            <el-form-item label="来源" prop="source">
                <el-input v-model="info_form.source"></el-input>
            </el-form-item>
        </el-form>
        <el-form :rules="rules" ref="more_info" :model="info_form"
            label-width="auto">
            <el-form-item label="标签" prop="s">
                <el-select
                    multiple
                    collapse-tags
                    clearable
                    filterable
                    allow-create
                    v-model="info_form.tags"
                    placeholder="请选择文章标签">
                    {% for tag in tag_list %}
                        <el-option
                            label="{{ tag.title }}"
                            value="{{ tag.nid }}">
                        </el-option>                  
                    {% endfor %}
                </el-select>
            </el-form-item>
            <el-form-item label="封面" prop="cover_id">
                <el-select
                    class="article_cover"
                    v-model="info_form.cover_id"
                    placeholder="请选择文章封面">
                    {% for cover in cover_list %}
                        <el-option
                            label="{{ cover.url }}"
                            value="{{ cover.nid }}">
                        </el-option>                  
                    {% endfor %}
                </el-select>
            </el-form-item>
            <el-form-item label="类型" prop="recommend">
                <el-switch
                    v-model="info_form.recommend"
                    active-text="推荐文章"
                    inactive-text="普通文章">
                </el-switch>
            </el-form-item>
            <el-form-item label="简介" prop="abstract">
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 4 }"
                    style="width: 70%;"
                    placeholder="请输入文章简介"
                    v-model="info_form.abstract">
                </el-input>
            </el-form-item>
        </el-form>
    </el-card>
</div>
{% endblock main %}

{% block js %}
<script src="/static/axios/axios.min.js"></script>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/editor_md/lib/marked.min.js"></script>
<script src="/static/editor_md/lib/prettify.min.js"></script>
<script src="/static/editor_md/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editor", {
            width: "100%",
            path: "/static/editor_md/lib/",
        })
    })
</script>
{% endblock js %}