<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>后台管理中心</title>
        <link rel="shortcut icon" href="/static/mine/img/logo/logo.png">
        <link rel="stylesheet" href="/static/mine/css/css/backend_base.css">
        <link rel="stylesheet" href="/static/mine/css/reset.css">
        <link rel="stylesheet"
            href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        {% block css %}
        <link rel="stylesheet" href="/static/mine/css/css/my_homepage.css">
        {% endblock css %}
        <script src="/static/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>

    <body>
        <div id="app">
            <aside>
                <div class="slogan">
                    <div>
                        <img src="/static/mine/img/logo/logo.png" alt="">
                    </div>
                    <h3>管理中心</h3>
                </div>
                <el-menu default-active="2" class="el-menu-vertical-demo"
                    background-color="#6d7993" text-color="#FFF">
                    <el-menu-item index="1">
                        <a class="icon" href="/backend/">
                            <i class="el-icon-user icon"></i>
                            <span slot="title">个人中心</span>
                        </a>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-edit icon"></i>
                            <span>信息变更</span>
                        </template>
                        <el-menu-item index="2-1">
                            <a class="icon" href="/backend/edit_info">基本信息</a>
                        </el-menu-item>
                        <el-menu-item index="2-2">
                            <a class="icon" href="/backend/reset_pwd">修改密码</a>
                        </el-menu-item>
                    </el-submenu>
                    {% if request.user.is_superuser %}
                    <el-menu-item index="3">
                        <a class="icon" href="/backend/add_article">
                            <i class="el-icon-document icon"></i>
                            <span slot="title">发布文章</span>
                        </a>
                    </el-menu-item>
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-picture-outline-round icon"></i>
                            <span>图像管理</span>
                        </template>
                        <el-menu-item index="4-1">
                            <a class="icon" href="/backend/article_banner">文章封面</a>
                        </el-menu-item>
                        <el-menu-item index="4-2">
                            <a class="icon" href="/backend/avatar_list">头像列表</a>
                        </el-menu-item>
                    </el-submenu>
                    {% endif %}
                    <el-menu-item index="5">
                        <a class="icon" href="/logout/">
                            <i class="el-icon-back icon"></i>
                            <span slot="title">注销退出</span>
                        </a>
                    </el-menu-item>
                </el-menu>
            </aside>
            <main>
                <div class="top_nav">
                    <el-page-header
                        @back="backto"
                        :title="this.title === '个人中心' ? '返回首页' : '返回'"
                        :content="this.title">
                </div>
                {% csrf_token %}
                {% block main %}
                <div class="main">
                        <el-card class="userInfo">
                            <div class="avatar">
                                <img
                                    src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg"></img>
                        </div>
                        <el-divider></el-divider>
                        <el-descriptions title="用户信息" direction="vertical"
                            :column="2">
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-user dark_gray"> 用户名</i>
                                </template>
                                <div class="middle_font">Richy</div>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-phone-outline dark_gray">
                                        电话</i>
                                </template>
                                <div class="middle_font">18100000000</div>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-message dark_gray"> 邮箱</i>
                                </template>
                                <div class="mini_font">1245413737@qq.com</div>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-date dark_gray"> 注册时间</i>
                                </template>
                                <div class="middle_font">2022/06/17</div>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-date dark_gray"> 上次登录时间</i>
                                </template>
                                <div class="middle_font">2022/7/19</div>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-location-outline
                                        dark_gray"> IP地址</i>
                                </template>
                                <div class="middle_font">贵州省</div>
                            </el-descriptions-item>
                        </el-descriptions>
                        <div class="tags">
                            <p>标签云</p>
                            <el-tag size="small">Web前端</el-tag>
                            <el-tag size="small">React</el-tag>
                            <el-tag size="small">Vue</el-tag>
                            <el-tag size="small">Java</el-tag>
                            <el-tag size="small">Python</el-tag>
                            <el-tag size="small">Django</el-tag>
                            <el-tag size="small">MySQL</el-tag>
                        </div>
                    </el-card>
                    <el-tabs class="article_card" type="border-card">
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-document"></i>
                                我的文章</span>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/1.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/2.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/3.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/4.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-star-off"></i>
                                收藏</span>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/3.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="article_item">
                                <div class="left">
                                    <img src="/article_img/article_img/4.jpeg"
                                        alt="">
                                </div>
                                <div class="right">
                                    <h4>Java学习笔记Day1</h4>
                                    <div class="tags">
                                        <el-tag type="mini">Java</el-tag>
                                        <el-tag type="mini">学习笔记</el-tag>
                                        <el-tag type="mini">基础语法</el-tag>
                                    </div>
                                    <p>Java学习笔记Day1的内容，包括Java的基本语法Java学习笔记Day1的内容，包括Java的基本语法</p>
                                    <div class="info">
                                        <i class="el-icon-edit-outline"></i>
                                        <span class="bolded">Richy</span>
                                        <i class="el-icon-time"></i>
                                        <span>2022/07/18</span>
                                        <i class="el-icon-view"></i>
                                        <span>0</span>
                                        <i class="el-icon-thumb"></i>
                                        <span>0</span>
                                        <i class="el-icon-chat-dot-square"></i>
                                        <span>0</span>
                                        <i class="el-icon-star-off"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
                {% endblock main %}
            </main>
        </div>
    </body>
</html>
{% block js %}
{% endblock js %}
<script type="text/javascript">    
    // axios请求中间件
    axios.interceptors.request.use(request => {
        // 请求成功的拦截
        if(request.method === 'post') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken
        }
        return request
    }, err => {
        // 请求失败的拦截
        return Promise.reject(err)
    })
    axios.interceptors.response.use(res => {
        // 成功响应的拦截
        return Promise.resolve(res.data)
    }, err =>{
        // 失败响应的拦截
        console.log(err)
        if(err.response){
            // 失败响应的status需要在response中获得
            console.log(err.response)
            switch(err.response.status){
            // 对得到的状态码的处理，具体的设置视自己的情况而定
            case 401:
                console.log('未登录')
                window.location.href='/'
                break
            case 404:
                window.location.href='/'
                break
            case 405:
                console.log('不支持的方法')
                break
            // case ...
            default:
                console.log('其他错误')
                break
            }
        }
    })

    new Vue({
        el: '#app',
        data: {
            title: '发布文章',
            rules: {
                title: [
                    { required: true, message: '请输入文章标题', trigger: 'blur' },
                    { min: 3, message: '标题长度不少于3个字符', trigger: 'blur' }
                ],
                author: [
                    { required: true, message: '请输入文章标题', trigger: 'blur' },
                    { min: 3, message: '长度在不少于3个字符', trigger: 'blur' }
                ],
                source: [
                    { required: true, message: '请输入文章标题', trigger: 'blur' },
                    { min: 3, message: '长度在不少于3个字符', trigger: 'blur' }
                ],
                tags: [
                    { required: true, message: '请选择至少一个标签', trigger: 'change' }
                ],
                cover_id: [
                    { required: true, message: '请选择一个封面', trigger: 'blur' }
                ],
                intro: [
                    { required: true, message: '请输入文章简介', trigger: 'blur' }
                ],
            },
            info_form: {
                title: "",
                author: "Richy",
                source: "Richy的个人博客",
                tags: [],
                cover_id: "1",
                recommend: true,
                abstract: "",
            },
        },
        created() {
            let url = window.location.href.split('/')
            let length = url.length
            let title = url[4]
            let path = {
                '': '个人中心',
                'edit_info': '基本信息',
                'reset_pwd': '修改密码',
                'add_article': '发布文章',
                'article_banner': '文章封面',
                'avatar_list': '头像列表',
            }
            this.title = path[title]
            if(path[title] === '个人中心') {
                this.back = '返回首页'
            } else {
                this.back = '返回'
            }
        },
        methods: {
            add_article() {
                let content = editor.querySelector('.editormd-markdown-textarea').value
                if(content == '') {
                    this.$message.error('文章内容为空！')
                    return
                }
                let that = this
                this.$refs.base_info.validate((valid) => {
                    if (valid) {
                        this.$refs.more_info.validate((valid) => {
                            if (valid) {
                                that.submit_article()
                            } else {
                                this.$message.error('请完善文章信息后再发布！');
                            }
                        })
                    } else {
                        this.$message.error('请完善文章信息后再发布！');
                    }
                })
            },        
            submit_article() {                
                let data = {
                    ...this.info_form,
                    content: editor.querySelector('.editormd-markdown-textarea').value
                }
                // console.log(data);
                axios.post('/api/article/', data).then(res => {
                    if(res.code) {
                        this.$message.error(res.msg)
                        return
                    } else {
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.href = `/article/${res.data}/`
                        }, 3000)
                    }
                })
            },
            backto() {
                if( this.title === '个人中心')
                    location.href = '/'
                else
                    location.href = '/backend'
            },
        }
    })
</script>