.main {
    width: calc(100% - 40px);
    padding: 20px;

    #editor {
        min-height: calc(100vh - 150px) !important;
    }

    .article_info {
        position: relative;
    }

    .cover {
        position: absolute;
        top: 140px;
        left: 338px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #dcdef6;

        .cover_img .el-image__inner {
            width: 120px;
            height: 80px;
            object-fit: cover;
        }
        p {
            font-size: 12px;
            color: #777;
            text-align: center;
        }
    }
}