#app {
    display: flex;
}

.slogan {
    display: flex;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid white;

    div {
        padding: 5px 0;
    }

    img {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 5px;
    }

    h3 {
        margin-left: 10px;
        line-height: 40px;
        color: white;
    }
}

aside {
    width: 200px;
    height: 100vh;
    background-color: #6d7993;

    .el-menu {
        width: 200px;
    }
}

main {
    width: calc(100vw - 200px);
    height: 100vh;
    background-color: #f0f3f8;
    overflow: auto;
}

.icon {
    color: white !important;
}

.top_nav {
    background-color: white;
    height: 24px;
    padding: 13px 20px;
}
