{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/mine/css/article.css">    
{% endblock css %}
{% block main %}
    <div class="article">
        <div class="article_title">
            <h2>Django快速上手</h2>
            <p>
                <span>发布时间: <i>2022/06/07</i></span>
                <span>作者: <i>Richy</i></span>
                <span>来源: <i>Richy个人博客</i></span>
            </p>
            <div>
                <i title="文章标签" class="fa fa-tags"></i>
                <i>HTML</i>
                <i>CSS</i>
                <i>JavaScript</i>
                <i>Python</i>
                <i>Django</i>
            </div>
        </div>
        <div class="article_content">
            Django快速上手全文
        </div>
        <div class="comment_submit">
            <div class="title">
                留下你的想法
            </div>
            <div class="body">
                <textarea name="" id="" cols="30" rows="10" placeholder="写下你想说的话，开启我们的故事"></textarea>
                <button class="submit_btn">
                    发布评论
                </button>
            </div>
            <div class="footer">
                <p><span>49</span> 人参与，<span>4</span> 人评论</p>
            </div>
        </div>
        <div class="comment_list">
            <ul>
                <li>
                    <div class="left">
                        <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                    </div>
                    <div class="right">
                        <h4>Richy</h4>
                        <div class="comment_contetnt">
                            <p>你好啊</p>
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                        </div>
                        <div class="comment_info">
                            <span>3分钟前</span>
                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="sub_left">
                                    <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                                </div>
                                <div class="sub_right">
                                    <h4>Richy</h4>
                                    <div class="sub_comment_content">
                                        <p>你好</p>
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>刚刚</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="sub_left">
                                    <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                                </div>
                                <div class="sub_right">
                                    <h4>Richy</h4>
                                    <div class="sub_comment_content">
                                        <p>你好</p>
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>刚刚</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                    </div>
                    <div class="right">
                        <h4>Richy</h4>
                        <div class="comment_contetnt">
                            <p>你好啊</p>
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                            <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                        </div>
                        <div class="comment_info">
                            <span>3分钟前</span>
                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="sub_left">
                                    <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                                </div>
                                <div class="sub_right">
                                    <h4>Richy</h4>
                                    <div class="sub_comment_content">
                                        <p>你好</p>
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>刚刚</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="sub_left">
                                    <img src="https://i0.hdslb.com/bfs/face/5f8f618627561a97e96ef34ba7fc953edabc37b4.jpg">
                                </div>
                                <div class="sub_right">
                                    <h4>Richy</h4>
                                    <div class="sub_comment_content">
                                        <p>你好</p>
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>刚刚</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock main %}