{% extends "index.html" %}
{% load my_tag %}

{% block css %}
    <link rel="stylesheet" href="/static/editor_md/css/editormd.css">  
    <link rel="stylesheet" href="/static/mine/css/article.css">    
{% endblock css %}

{% block banner %}
    {% banner 'index' article %}
{% endblock banner %}

{% block main %}
    <div class="article">
        <div class="slider_bar">
            <div class="title">
                文章目录
            </div>
            <div class="body">
                <p>Hello World</p>
                <p>用命令行编译 java 源文件</p>
                <p>Java 基本语法</p>
                <p>Java 修饰符</p>
                <p>Java 变量类型</p>
                <p>Java 枚举</p>
                <p>Java 注释</p>
            </div>
        </div>
        <div class="article_title">
            <h2>
                {{ article.title }}
                {% if request.user.is_superuser %}
                    <a href="/backend/edit_article/{{ article.nid }}"><i class="el-icon-edit-outline"></i></a>
                {% endif %}
                </h2>
            <p>
                <span>发布时间: <i>{{ article.create_date | date:'Y-m-d' }}</i></span>
                <span>作者: <i>{{ article.author }}</i></span>
                <span>来源: <i>{{ article.source }}</i></span>
            </p>
            <div>
                <i title="文章标签" class="fa fa-tags"></i>
                {% for tag in article.tag.all %}
                    <i>{{ tag.title }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="article_content" id="article_content">
            <textarea style="display: none;">{{ article.content }}</textarea>
        </div>
        <div class="comment_submit">
            <div class="title">
                留下你的想法
            </div>
            <div class="body">
                <textarea name="" id="" cols="30" rows="10" placeholder="写下你想说的话，开启我们的故事"></textarea>
                <button class="submit_btn">
                    发布评论
                </button>
            </div>
            <div class="footer">
                <p><span>49</span> 人参与，<span>4</span> 人评论</p>
            </div>
        </div>
        <div class="comment_list">
            <ul>
                {% for root_comment in comment_list %}
                    <li>
                        <div class="left">
                            <img src="{{ root_comment.user.avatar.url.url }}">
                        </div>
                        <div class="right">
                            <h4>{{ root_comment.user.username }}</h4>
                            <div class="comment_contetnt">
                                <p>{{ root_comment.content }}</p>
                            </div>
                            <div class="comment_info">
                                <span>{{ root_comment.create_time }}</span>
                                <div>
                                    <span>点赞({{ root_comment.digg_count }})</span>
                                    <span>回复({{ root_comment.comment_count }})</span>
                                    <span class="delete">删除</span>
                                </div>
                            </div>
                            <div class="sub_comment_list">
                                {% for sub_comment in root_comment.sub_comment %}
                                <div class="sub_comment_item">
                                    <div class="sub_left">
                                        <img src="{{ sub_comment.user.avatar.url.url }}">
                                    </div>
                                    <div class="sub_right">
                                        <h4>{{ sub_comment.user.username }}&nbsp;<span>@{{ sub_comment.parent_comment.user.username }}</span></h4>
                                        <div class="sub_comment_content">
                                            <p>{{ sub_comment.content }}</p>
                                        </div>
                                        <div class="sub_comment_info">
                                            <span>{{ sub_comment.create_time }}</span>
                                            <div>
                                                <span>点赞({{ sub_comment.digg_count }})</span>
                                                <span>回复</span>
                                                <span class="delete">删除</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>                  
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main %}

{% block js %}
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor_md/lib/marked.min.js"></script>
    <script src="/static/editor_md/lib/prettify.min.js"></script>
    <script src="/static/editor_md/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            let editor = editormd.markdownToHTML("article_content", {
                width: "100%",
                height: "100%",
                path: "/static/editor_md/lib/",
            })
        })
    </script>
{% endblock js %}