{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/mine/css/article.css">    
{% endblock css %}
{% block main %}
    <div class="article">
        <div class="article_title">
            <h2>Django快速上手</h2>
            <p>
                <span>发布时间: <i>2022/06/07</i></span>
                <span>作者: <i>Richy</i></span>
                <span>来源: <i>Richy个人博客</i></span>
            </p>
            <div>
                <i title="文章标签" class="fa fa-tags"></i>
                <i>HTML</i>
                <i>CSS</i>
                <i>JavaScript</i>
                <i>Python</i>
                <i>Django</i>
            </div>
        </div>
        <div class="article_content">
            Django快速上手全文
        </div>
        <div class="comment_submit">
            <div class="title">
                留下你的想法
            </div>
            <div class="body">
                <textarea name="" id="" cols="30" rows="10" placeholder="写下你想说的话，开启我们的故事"></textarea>
                <button class="submit_btn">
                    发布评论
                </button>
            </div>
            <div class="footer">
                <p><span>49</span> 人参与，<span>4</span> 人评论</p>
            </div>
        </div>
        <div class="comment_list">

        </div>
    </div>
{% endblock main %}