<!DOCTYPE html>
<html lang="en">
    {% load my_tag %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Richy的个人博客</title>
        {% block css %}
        <link rel="stylesheet" href="/static/mine/css/index.css">
        {% endblock css %}
        <link rel="shortcut icon" href="/static/mine/img/logo/logo.svg">
        <link rel="stylesheet" href="/static/mine/css/base.css">
        <link rel="stylesheet" href="/static/mine/css/reset.css">
        <link rel="stylesheet" href="/static/font/css/font-awesome.css">
        <link rel="stylesheet" href="/static/element/theme-chalk/index.css">
        <script src="/static/vue/vue.js"></script>
        <script src="/static/jquery/jquery.min.js"></script>
    </head>

    <body>
        <div id="app">
            <link rel="stylesheet" :href="'/static/mine/css/theme/' + theme +
                '.css'">
            <nav id="top_nav">
                <div class="left" id="top_nav_left">
                    <a href="/"><img src="/static/mine/img/logo/logo.svg"
                            alt="Richy个人博客"></a>
                    {% dynamic_nav request %}
                    <div class="nav_search">
                        <input
                            type="text"
                            onkeypress=""
                            placeholder="搜索你感兴趣的内容"
                            @keyup.enter="handle_search"
                            v-model="search_key">
                        <button @click="handle_search"><i
                                class="el-icon-search"></i></button>
                    </div>
                </div>
                <div class="right">
                    <i :class="'el-icon-' + theme" @click="set_theme(theme)"></i>
                    {% if request.user.username %}
                    <el-dropdown>
                        <span class="el-dropdown-link">
                            {{ request.user.username }}<i
                                class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a"><a href="/backend/">个人中心</a></el-dropdown-item>
                            <el-dropdown-item command="b"><a href="">修改密码</a></el-dropdown-item>
                            <el-dropdown-item command="c"><a href="">发布文章</a></el-dropdown-item>
                            <el-dropdown-item command="d"><a href="">后台管理</a></el-dropdown-item>
                            <el-dropdown-item command="e" divided><a
                                    href="/logout/">注销</a></el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    {% else %}
                    <a href="/login">登录</a>
                    <a href="/sign">注册</a>
                    {% endif %}
                </div>
            </nav>
            {% block banner %}
            {% banner 'index' %}
            {% endblock banner %}
            <main id="main">
                {% block main %}
                <div class="main">
                    <div class="left">
                        <div class="boutique card">
                            <div class="title">
                                <h2>精选文章</h2>
                                <div>
                                    <a href="#">查看更多</a>
                                </div>
                            </div>
                            <div class="body">
                                <ul>
                                    {% for recommend in recommend_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <a href="/article/{{ recommend.nid }}/">
                                                    <img src="{{ recommend.cover.url.url }}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ recommend.nid }}/">{{ recommend.title }}</a></h2>
                                            <p>{{ recommend.abstract }}</p>
                                            <span>{{ recommend.change_date|date:'Y-m-d' }}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="weibo_hot card">
                            <div class="title">
                                <h2>今日热搜</h2>
                                <div>
                                    <a href="/news/" target="_blank">查看更多</a>
                                </div>
                            </div>
                            <div class="body">
                                <ul class="hot_list">
                                    <li
                                        v-for="(item, index) in weibo_hot.data">
                                        <span class="index">[[ index + 1 ]]</span>
                                        <span class="news_title">
                                            <a :href="item.url" target="_blank">[[ item.title ]]</a>
                                        </span>
                                        <span class="discuss">[[ item.hot ]]</span>
                                    </li>
                                    <el-skeleton v-if="!weibo_hot.data.length" :rows="3" animated />
                                </ul>
                            </div>
                        </div>
                        <div id="all_article" class="all_article card">
                            <div class="title">
                                <h2>博客文章</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    {% for article in article_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <a href="/article/{{ article.nid }}/">
                                                    <img src="{{ article.cover.url.url }}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                                            <p>{{ article.abstract }}</p>
                                            <div class="info">
                                                <iconpark-icon name="author"></iconpark-icon>
                                                <span class="bolded">{{ article.author }}</span>
                                                <iconpark-icon name="calendar"></iconpark-icon>
                                                <span>{{ article.change_date|date:'Y-m-d' }}</span>
                                                <iconpark-icon name="view"></iconpark-icon>
                                                <span>{{ article.look_count }}</span>
                                                <iconpark-icon name="thumbs-up"></iconpark-icon>
                                                <span>{{ article.digg_count }}</span>
                                                <iconpark-icon name="comment"></iconpark-icon>
                                                <span>{{ article.comment_count }}</span>
                                                <iconpark-icon name="like"></iconpark-icon>
                                                <span>{{ article.collects_count }}</span>
                                            </div>
                                            <div class="btn"><a
                                                    href="/article/{{
                                                    article.nid }}/"
                                                    target="_blank">查看详情</a></div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="pagination" params="{{ params }}">
                            <el-pagination
                                background
                                hide-on-single-page
                                @current-change="current_change"
                                :current-page.sync="current_page"
                                :page-size="{{ params.page_size }}"
                                layout="prev, pager, next"
                                :total="{{ params.total }}">
                            </el-pagination>
                        </div>
                    </div>
                    <div class="right">
                        <div class="site_info card">
                            <div class="title">
                                <h2>站点信息</h2>
                            </div>
                            <div class="body">
                                主要内容区域
                            </div>
                        </div>
                        <div class="tags card">
                            <div class="title">
                                <h2>标签云</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    <li>Python</li>
                                    <li>Django</li>
                                    <li>Node.js</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JavaScript</li>
                                    <li>Typescript</li>
                                    <li>Vue</li>
                                    <li>Vite</li>
                                    <li>ORM</li>
                                    <li>MySQL</li>
                                    <li>Nginx</li>
                                    <li>PHP</li>
                                    <li>Java</li>
                                    <li>Go</li>
                                </div>
                            </div>
                            <div class="links card">
                                <div class="title">
                                    <h2>友情链接</h2>
                                </div>
                                <div class="body">
                                    主要内容区域
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock main %}
                </main>
                <footer>
                    <div class="left">
                        <p class="thank">Thank For</p>
                        <p class="site_info">
                            <span><img src="/static/mine/img/footer/baidu.png"
                                    alt=""> 百度智能云</span>
                            <span><img src="/static/mine/img/footer/baidu.png"
                                    alt=""> 百度云SSL证书</span>
                            <span><img src="/static/mine/img/footer/qiniu.png"
                                    alt=""> 七牛云存储</span>
                        </p>
                        <p class="version">
                            <span>version</span>
                            <span>1.0.1</span>
                        </p>
                        <p>Powered by Django and Vue.js</p>
                    </div>
                    <div class="right">
                        <div class="contact">
                            <div class="QQ">
                                <img class="svg"
                                    src="/static/mine/img/footer/qq.svg" alt="">
                                <img class="QR"
                                    src="/static/mine/img/footer/qq.jpg" alt="">
                            </div>
                            <div class="Wechat">
                                <img class="svg"
                                    src="/static/mine/img/footer/wechat.svg"
                                    alt="">
                                <img class="QR"
                                    src="/static/mine/img/footer/wechat.jpg"
                                    alt="">
                            </div>
                            <a class="link"
                                href="https://space.bilibili.com/12188724"
                                target="_blank">
                                <img class="svg"
                                    src="/static/mine/img/footer/bilibili.svg"
                                    alt="">
                                <span class="tips">点击图标跳转</span>
                            </a>
                            <a class="link" href="https://weibo.com/richycloud"
                                target="_blank">
                                <img class="svg"
                                    src="/static/mine/img/footer/weibo.svg"
                                    alt="">
                                <span class="tips">点击图标跳转</span>
                            </a>
                            <a class="link" href="https://github.com/RQD-china"
                                target="_blank">
                                <img class="svg"
                                    src="/static/mine/img/footer/github.svg"
                                    alt="">
                                <span class="tips">点击图标跳转</span>
                            </a>
                        </div>
                        <p>联系邮箱：1245413737@qq.com</p>
                    </div>
                </footer>
            </div>
        </body>
    </html>

    <!-- 引入组件库 -->
    <script src="/static/element/index.js"></script>
    <script src="/static/axios/axios.min.js"></script>
    <script src="{{ iconpark }}"></script>
    <script>
    // axios请求中间件
    axios.interceptors.request.use(request => {
        // 请求成功的拦截
        if(request.method != 'get') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken
        }
        return request
    }, err => {
        // 请求失败的拦截
        return Promise.reject(err)
    })
    axios.interceptors.response.use(res => {
        // 成功响应的拦截
        return Promise.resolve(res.data)
    }, err =>{
        // 失败响应的拦截
        console.log(err)
        if(err.response){
            // 失败响应的status需要在response中获得
            console.log(err.response)
            switch(err.response.status){
            // 对得到的状态码的处理，具体的设置视自己的情况而定
            case 401:
                console.log('未登录')
                window.location.href='/'
                break
            case 404:
                window.location.href='/'
                break
            case 405:
                console.log('不支持的方法')
                break
            // case ...
            default:
                console.log('其他错误')
                break
            }
        }
    })

    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            theme: 'sunny',
            comment_content: '',
            unfold: {
                nid: '',
                cid: ''
            },
            catalog: [],
            select_tab: 0,
            current_page: 1,
            base_url: '',
            search_input: '',
            search_key: '',
            hot_tab: 0,
            last_tab: -1,
            hot_list_info: [{
                name: '微博',
                title: '热门微博',
                type: 'wbHot',
                img: 'KqndgxeLl9',
            }, {
                name: '知乎',
                title: '热度榜',
                type: 'zhihuHot',
                img: 'mproPpoq6O',
            }, {
                name: 'Bilibili',
                title: '热门视频',
                type: 'bili',
                img: '74KvxwokxM',
            }, {
                name: '36氪',
                title: '今日热点',
                type: '36Ke',
                img: 'Q1Vd5Ko85R',
            }, {
                name: '百度热点',
                title: '指数',
                type: 'baiduRD',
                img: 'Jb0vmloB1G',
            }, {
                name: '抖音',
                title: '热点榜',
                type: 'douyinHot',
                img: 'DpQvNABoNE',
            }, {
                name: '少数派',
                title: '最热文章',
                type: 'ssPai',
                img: 'Y2KeDGQdNP',
            }, {
                name: '豆瓣小组',
                title: '讨论精选',
                type: 'douban',
                img: 'nBe0JLBv37',
            }, {
                name: 'IT最新资讯',
                title: '',
                type: 'itNews',
                img: '74Kvx59dkx',
            }, {
                name: '历史上的今天',
                title: '',
                type: 'history',
                img: 'KMZd7X3erO',
            }],
            hot_list_data: {},
            hot_list_update: '',
            weibo_hot: {
                update: '',
                data: []
            },
            leave_message: '',
            emoji_list: [],
            selector_is_show: false,
        },
        created() {
            this.init()
        },
        methods: {
            // 初始化页面
            init() {
                this.init_theme()
                setTimeout(()=>{
                    let page = location.pathname.split('/')[1]
                    // 针对不同的子页面进行初始化
                    switch (page) {
                        case 'article':
                            // 初始化文章详情页面
                            this.init_article()
                            break
                        case 'search':
                            // 初始化搜素页面
                            this.init_search()
                            break
                        case 'news':
                            // 初始化新闻页面
                            this.init_news()
                            break
                        case 'message':
                            // 初始化 动态页面
                            this.init_message()
                            break
                        case '':
                            // 初始化主页
                            this.init_index()
                            break
                    }
                },200)
            },
            // 初始化主页
            init_index() {
                // 准备分页器参数
                let pagination = document.querySelector('.pagination')
                let params = JSON.parse(pagination.getAttribute('params').replace(/\'/g, '\"'))
                this.current_page = params.current_page
                this.base_url = params.base_url

                // 检查是否已有一个小时内的热搜数据
                weibo_hot = JSON.parse(localStorage.getItem('weibo_hot'))
                this.weibo_hot = weibo_hot
                if(weibo_hot) {
                    let now = new Date()
                    let update = new Date(weibo_hot.update)
                    if((now - update)/1000/60/60 < 1) {
                        return
                    }
                } 

                // 获取热搜
                axios.get(`https://api.vvhan.com/api/hotlist?type=wbHot`).then(res => {
                    if(res.success)
                        this.weibo_hot.data = res.data.splice(0, 3)
                        this.weibo_hot.update = new Date()
                        localStorage.setItem('weibo_hot', JSON.stringify(this.weibo_hot))
                        console.log(this.weibo_hot)
                })
            },
            // 初始化搜索页面
            init_search() {
                let dom = document.querySelector('.search_input').childNodes[1]
                dom.focus()
                this.search_key = dom.getAttribute('data')
            },
            // 设置主题
            set_theme(theme_name) {
                if(theme_name == "sunny")
                    this.theme = "moon"
                else
                    this.theme = "sunny"
                
                //持久化存储
                localStorage.setItem('theme', this.theme)
            },
            // 初始化主题
            init_theme() {
                // 读取存储的主题
                let theme = localStorage.getItem('theme')
                if(theme) {
                    this.theme = theme
                }
            },
            // 初始化新闻页
            init_news() {
                this.get_hot_search()
            },
            // 初始化留言板页
            init_message() {
                this.emoji_list = emoji_list
                let selector = $('.emoji_selector')
                $(selector).slideUp()
            },
            // 发布评论
            add_comment(nid) {
                axios.post(`/api/article/comment/${nid}/`, {content: this.comment_content}).then(res => {
                    if(res.code) {
                        if(res.self) {
                            this.$refs[res.self].focus()
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    location.reload()
                })
            },
            // 发布子评论
            add_sub_comment(e, nid) {
                axios.post(`/api/article/comment/${parseInt(nid)}/`, {
                    content: $(e.target).prev().val(),
                    cid: $(e.target).prev().attr('cid')
                }).then(res => {
                    if(res.code) {
                        if(res.self) {
                            this.$refs[`sub_${res.self}`].focus()
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    location.reload()
                })
            },
            // 展示回复输入框
            show_reply_textarea(nid, username, cid) {
                let sub_textarea = $(`#sub_textarea_${nid}`)
                if(this.unfold.cid != cid) {
                    if(this.unfold.nid && this.unfold.nid != nid) {
                        let textarea = $(`#sub_textarea_${this.unfold.nid}`)
                        $(textarea).slideToggle()
                        $(sub_textarea).slideToggle()
                    }
                    if(!this.unfold.nid) {
                        $(sub_textarea).slideToggle()
                    }
                    this.unfold.cid = cid
                    this.unfold.nid = nid
                } else {
                    this.unfold.nid = this.unfold.cid = ''
                    $(sub_textarea).slideToggle()
                }
                $(sub_textarea).find('textarea').attr('placeholder', `回复 ${username}`)
                $(sub_textarea).find('textarea').attr('cid', cid)
                $(sub_textarea).find('textarea').focus()
            },
            // 删除评论
            del_comment(nid) {
                axios.delete(`/api/article/comment/${nid}/`).then(res => {
                    if(res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    location.reload()
                })
            },
            // 评论点赞
            comment_digg(e, nid) { 
                axios.post(`/api/comment/digg/${nid}/`).then(res => {
                    if(res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    // 更新前端数据
                    e.target.innerHTML = `点赞(${res.data})`
                })
            },
            // 文章点赞
            article_digg(e, nid) { 
                let dom = e.target
                dom.classList.add('on')
                let timer = null
                clearTimeout(timer)
                timer = setTimeout(() => {
                    dom.classList.remove('on')
                }, 1000)
                axios.post(`/api/article/digg/${nid}/`).then(res => {
                    if(res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    $(dom).next().text(res.data)
                })
            },
            // 文章收藏
            article_collect(e, nid) { 
                let dom = e.target
                axios.post(`/api/article/collect/${nid}/`).then(res => {
                    if(res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    $(dom).next().text(res.data)
                    if(res.collect) {
                        dom.classList.add('on')
                        console.log(res.collect)
                    } else {
                        dom.classList.remove('on')
                        console.log(res.collect)
                    }
                })
            },
            // 回到顶部
            go_to_top() {
                $('html,body').animate({
                    scrollTop: 0
                }, 600)
            },
            // 初始化文章详情
            init_article() {
                this.init_copy_code()
                let content = $('#article_content')
                let h_list = content.children('h1,h2,h3,h4')
                let list = []
                for(i = 0; i < h_list.length; i++) {
                    let title = h_list[i].innerText
                    let tag_name = h_list[i].tagName
                    let pos = '#' + h_list[i].id
                    let element = {
                        tag_name,
                        title,
                        pos,
                        select: ''
                    }
                    list.push(element)
                }
                list.push({
                    tag_name: 'H1',
                    title: '评论',
                    pos: '.comment_submit',
                    select: ''
                })
                list[0].select = 'select'
                this.catalog = list
                this.select_title(list)
            },
            // 设置自动选中标题
            select_title(catalog) {
                // 获取各标题位置
                let pos_list = []
                for(let i = 0; i < catalog.length; i++) {
                    let box = $(catalog[i].pos)
                    let pos = box.offset()
                    pos_list.push( Math.floor(pos.top - 50))
                }
                pos_list[pos_list.length - 1] -= 50
                this.pos_list = pos_list
                // 监听文章阅读位置
                window.addEventListener('scroll', throttle(() => {
                    let value = Math.ceil(window.scrollY)
                    let i = 0
                    while(i < this.pos_list.length - 1 && !(value >= this.pos_list[i] && value < this.pos_list[i + 1])) {
                        i++;
                    }
                    if(i < this.pos_list.length - 1 && value >= this.pos_list[i] + 40)
                        i++
                    if(value < pos_list[0])
                        i = 0
                    this.catalog[this.select_tab].select = ''
                    this.select_tab = i
                    this.catalog[this.select_tab].select = 'select'
                }))
            },
            // 目录跳转
            go_content(select, index) {
                let box = $(select)
                let pos = box.offset()
                pos.top -= 50
                $('html,body').animate({
                    scrollTop: pos.top
                })
            },
            // 切换页码
            current_change(current) {
                location.href = this.base_url + `?page=${current}#all_article`
            },
            // 主页搜索
            handle_search() {
                let box = document.querySelector('.nav_search')
                if(!box.classList.contains('show_input')) {
                    box.classList.add('show_input')
                    box.childNodes[0].focus()
                    return
                }
                if(this.search_key) {
                    window.open('/search/?key=' + this.search_key, name ='_blank')
                } else {
                    box.classList.remove('show_input')
                    return
                }
            },
            // 搜索页搜索
            search_for() {
                location.href = '/search/?key=' + this.search_key
            },
            // 初始化代码复制按钮
            init_copy_code() {
                //console.log($('pre'))
                $('pre').each(function() {
                    let copy = $(`<div class="code_copy">
                                    <i class="el-icon-document-copy"></i>
                                    <span>复制</span>
                                </div>`)
                    $(this).append(copy)
                })
                
                $('pre div.code_copy').click(e => {
                    // 获取代码
                    let text_list = $(e.target).parent().prev().find('code')
                    let text = ''
                    //console.log($(e.target).prev(),text_list)
                    text_list.each(function() {
                        text += $(this).text() + '\n'
                    })
                    text = text.substr(0, text.length - 1);
                    // 复制
                    let element = $(`<textarea>${text}</textarea>`)
                    $('body').append(element)
                    element[0].select()
                    document.execCommand('Copy')
                    element.remove()

                    // 提示成功
                    this.$message.success('复制成功！')
                })
            },
            // 更换热搜榜
            get_hot_search() {
                if(this.hot_tab === this.last_tab) {
                    return
                }
                let type = this.hot_list_info[this.hot_tab].type
                this.last_tab = this.hot_tab
                this.hot_list_data = []

                axios.get(`https://api.vvhan.com/api/hotlist?type=${type}`).then(res => {
                    if(res.success)
                        this.hot_list_data = res.data
                        this.hot_list_update = res.update_time
                    console.log(res)
                })
            },
            // 展示emoji选择器
            show_selector() {
                let selector = $('.emoji_selector')
                console.log(selector)
                $(selector).slideToggle(1000)
            },
            // 输入emoji
            enter_emoji(i) {
                var message_input = document.getElementsByClassName('el-textarea__inner')[0]
                message_input.focus()
                message_input.setRangeText(emoji_list[index])
            },
            // 发布留言
            add_message() {
                axios.post('/api/message/', {
                    'content': this.leave_message
                }).then(res => {
                    console.log(res)
                })
            },
        }
    })
</script>
    {% block banner_js %}
<script>
    // 节流函数
    function throttle(fn, delay = 200) {
        let ttimer = null
        return function (...args) {
            const _this = this
            if(!ttimer) {
                ttimer = setTimeout(() => {
                    fn.apply(this, args)
                    ttimer = null
                }, delay)
            }
        }
    }

    // 获取DOM
    let top_nav = document.getElementById('top_nav')
    let head = document.getElementById('head_banner')
    let men_img = document.querySelectorAll('.dynamic_shuffle')
    // 设置时钟轮播
    let max_length = men_img.length
    let index = -1
    window.addEventListener('scroll', throttle(() => {
            let value = Math.ceil(window.scrollY)
            if(value <= 100) {
                head.style.height = Math.abs(400 - value) + 'px'
            }
            if(value <= 100 && top_nav.classList['value']) {
                top_nav.classList.remove('show')
            }
            if(value > 100 && !top_nav.classList['value']) {
                top_nav.classList.add('show')
            }
        }, 100))
    setInterval(() => {
        index++
        index = index % max_length
        for(let img of men_img) {
            img.style.opacity = 0
        }
        men_img[index].style.opacity = 1
    }, 2000);
</script>
    {% endblock banner_js %}

    {% block js %}

    {% endblock js %}