{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/mine/css/news.css">
{% endblock css %}

{% block main %}
    <div class="main">
        <el-tabs
            class="tabs"
            tab-position="left">
            <el-tab-pane label="用户管理"><i><iconpark-icon name="thumbs-up"></iconpark-icon></i>用户管理</el-tab-pane>
            <el-tab-pane label="配置管理">配置管理</el-tab-pane>
            <el-tab-pane label="角色管理">角色管理</el-tab-pane>
            <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
        </el-tabs>
    </div>
{% endblock main %}

{% block js %}
    
{% endblock js %}