{% extends "index.html" %}
{% load my_tag %}

{% block banner %}
{% endblock banner %}

{% block css %}
    <link rel="stylesheet" href="/static/mine/css/search.css">
{% endblock css %}

{% block main %}
  <div class="main">
    <div class="search">
        <img src="/static/mine/img/logo/logo.svg" alt="Richy个人博客">
        <span> | Richy个人博客</span>
        <el-input
            class="search_input"
            placeholder="搜索你想要的内容"
            data="{{ params.key }}"
            @keyup.enter.native="search_for"
            v-model="search_key"
            clearable>
        </el-input>
        <el-button
            class="search_btn"
            type="primary"
            icon="el-icon-search"
            @click="search_for"
            size="small">搜索</el-button>
    </div>
    <div class="search_criteria">
        <ul>
            {% generate_order_html request 'order' %}
        </ul>
        <ul>
            {% generate_order_html request 'word' %}
        </ul>
        <ul>
            <li class="active"><a href="">全部标签</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">Python</a></li>
        </ul>
    </div>
    <div class="search_content">
        <ul>
            {% for article in article_list %}
            <li>
                <div class="left">
                    <a href="/article/{{ article.nid }}/">
                        <img src="{{ article.cover.url.url }}" alt="">
                    </a>
                </div>
                <div class="right">
                    <h2><a href="/article/{{ article.nid }}/" target="_blank">{{ article.title }}</a></h2>
                    <p class="info">
                        <i class="el-icon-edit-outline"></i>
                        <span class="bolded">{{ article.author }}</span>
                        <i class="el-icon-time"></i>
                        <span>{{ article.change_date|date:'Y-m-d' }}</span>
                    </p>
                    <p class="info">
                        <i class="el-icon-view"></i>
                        <span>{{ article.look_count }}</span>
                        <i class="el-icon-thumb"></i>
                        <span>{{ article.digg_count }}</span>
                        <i class="el-icon-chat-dot-square"></i>
                        <span>{{ article.comment_count }}</span>
                        <i class="el-icon-star-off"></i>
                        <span>{{ article.collects_count }}</span>
                    </p>
                    <div class="btn"><a href="/article/{{ article.nid }}/" target="_blank">查看详情</a></div>
                </div>
            </li>
            {% endfor %}
            {% if article_list|length == 0 %}
                <el-empty class="empty" description="这里什么都没有哦"></el-empty>
            {% endif %}
        </ul>
    </div>
    <div class="pagination" params="{{ params }}">
        <el-pagination
            background
            hide-on-single-page
            @current-change="current_change"
            :current-page.sync="current_page"
            :page-size="{{ params.page_size }}"
            layout="prev, pager, next"
            :total="{{ params.total }}">
        </el-pagination>
    </div>
  </div>
{% endblock main %}

{% block banner_js %}
<script>
    // 固定导航条
    let top_nav = document.getElementById('top_nav')
    top_nav.classList.add('show')
</script>
{% endblock banner_js %}