{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/mine/css/share.css">
{% endblock css %}

{% block main %}
    <div class="main">
        {% csrf_token %}
        <div class="title">
            <iconpark-icon name="notepad"></iconpark-icon>
            留言板
        </div>
        <div class="leave_message">
            <el-input
                class="message_input"
                type="textarea"
                :autosize="{ minRows: 4}"
                placeholder="在这里留下你的足迹"
                maxlength="200"
                resize="none"
                v-model="leave_message">
            </el-input>
            <span class="emoji_switch" @click="show_selector">
                😀
            </span>
            <div class="emoji_selector">
                <span 
                    @click="enter_emoji(index)"
                    v-for="(item, index) in emoji_list">[[ item ]]</span>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
<script>
    const emoji_list = [
        '😀', '😁', '😂', '🤣', '😃', '😄', '😅', '😆', 
        '😉', '😊', '😋', '😎', '😍', '😘', '🥰', '😗', 
        '😙', '😚', '🙂', '🤗', '🤩', '🤔', '🤨', '😐', 
        '😑', '😶', '🙄', '😏', '😣', '😥', '😮', '🤐', 
        '😯', '😪', '😫', '🥱', '😴', '😌', '😛', '😜', 
        '😝', '🤤', '😒', '😓', '😔', '😕', '🙃', '🤑', 
        '😲', '🙁', '😖', '😞', '😟', '😤', '😢', '😭', 
        '😦', '😧', '😨', '😩', '🤯', '😬', '😰', '😱', 
        '🥵', '🥶', '😳', '🤪', '😵', '🥴', '😠', '😡', 
        '🤬', '😷', '🤒', '🤕', '🤢', '🤮', '🤧', '😇', 
        '🥳', '🥺', '🤠', '🤡', '🤥', '🤫', '🤭', '🧐', 
        '🤓', '😈', '👿', '👹', '👺', '💀', '☠', '👻', 
        '👽', '👾', '🤖', '💩', '😺', '😸', '😹', '😻', 
        '😼', '😽', '🙀', '😿', '😾', '🐱‍👤', '🐱‍🏍', '🐱‍💻', 
        '🐱‍🐉', '🐱‍👓', '🐱‍🚀', '🙈', '🙉', '🙊', '🐵', '🐶', 
        '🐺', '🐱', '🦁', '🐯', '🦒', '🦊', '🦝', '🐮', 
        '🐷', '🐗', '🐭', '🐹', '🐰', '🐻', '🐨', '👀'
    ]
</script>
{% endblock js %}