{% extends "login.html" %}

{% block title %}
    <title>用户注册</title>      
{% endblock title %}

{% block form %}
    <div class="right-con">
        <h1>注册</h1>
        <h3>USERNAME</h3>
        <input class="text" v-model="sign_form.name" ref="sign_form_name" type="text">
        <h3>PASSWORD</h3>
        <input class="text" v-model="sign_form.pwd" ref="sign_form_pwd" type="password">
        <h3>CONFIRM PASSWORD</h3>
        <input class="text" v-model="sign_form.re_pwd" ref="sign_form_re_pwd" @keydown.enter="sign" type="password">
        <input class="btn" @click = "sign" type="submit" value="SUBMIT">
    </div>                  
{% endblock form %}